<div class="row" style="margin-bottom: 100px">
  <img src="assets/img/Untitled.png" height="200" width="2000"/>
</div>
<!--body card-->
<div style="margin-left: 225px" class="row">
  <!--    img1-->
  <div class="card container-img" style="width: 20rem;">
    <img class="card-img-top image" src="assets/img/img1.jpg" alt="Card image cap">

    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>

    <div class="card-body">
      <h5 class="card-title">PHÒNG SUITE HƯỚNG BIỂN</h5>
      <p class="card-text">Diện tích phòng: 85.8m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
  <!--    img2-->
  <div class="card container-img" style="width: 20rem; margin-left: 50px">
    <img class="card-img-top image" src="assets/img/img2.jpg" alt="Card image cap">

    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>

    <div class="card-body">
      <h5 class="card-title">PHÒNG STUDIO SUITE HƯỚNG BIỂN</h5>
      <p class="card-text">Diện tích phòng: 40.1m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
  <!--    img3-->
  <div class="card container-img" style="width: 20rem; margin-left: 50px">
    <img class="card-img-top image" src="assets/img/img3.jpg" alt="Card image cap">

    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>

    <div class="card-body">
      <h5 class="card-title">PHÒNG DELUXE HƯỚNG Biển</h5>
      <p class="card-text">Diện tích phòng: 43.7m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
</div>

<!--body card 2-->
<div style="margin-left: 225px ; margin-top: 30px" class="row">
  <!--    img4-->
  <div class="card container-img" style="width: 20rem;">
    <img class="card-img-top image" src="assets/img/img4.jpg" alt="Card image cap">

    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>

    <div class="card-body">
      <h5 class="card-title">PHÒNG SUPERIOR HƯỚNG HỒ</h5>
      <p class="card-text">Diện tích phòng: 40.1m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
  <!--    img5-->
  <div class="card container-img" style="width: 20rem; margin-left: 50px">
    <img class="card-img-top image" src="assets/img/img5.jpg" alt="Card image cap">
    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">PHÒNG SUPERIOR HƯỚNG VƯỜN</h5>
      <p class="card-text">Diện tích phòng: 40.1m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
  <!--    img6-->
  <div class="card container-img" style="width: 20rem; margin-left: 50px">
    <img class="card-img-top image" src="assets/img/img6.jpg" alt="Card image cap">
    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">PHÒNG DELUXE HƯỚNG VƯỜN</h5>
      <p class="card-text">Diện tích phòng: 43.7m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
</div>
<!--body card 3-->
<div style="margin-left: 225px ; margin-top: 30px" class="row">
  <!--    img7-->
  <div class="card container-img" style="width: 20rem;">
    <img class="card-img-top image" src="assets/img/img7.jpg" alt="Card image cap">
    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">PHÒNG PRESIDENTIAL SUITE</h5>
      <p class="card-text">Diện tích phòng: 130m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
  <!--    img8-->
  <div class="card container-img" style="width: 20rem; margin-left: 50px">
    <img class="card-img-top image" src="assets/img/img8.jpg" alt="Card image cap">
    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">BIỆT THỰ HƯỚNG BIỂN CÓ HỒ BƠI RIÊNG</h5>
      <p class="card-text">Diện tích phòng: 900m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
  <!--    img9-->
  <div class="card container-img" style="width: 20rem; margin-left: 50px">
    <img class="card-img-top image" src="assets/img/img9.jpg" alt="Card image cap">
    <div class="middle">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Delete</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">BIỆT THỰ HƯỚNG VƯỜN CÓ HỒ BƠI RIÊNG</h5>
      <p class="card-text">Diện tích phòng: 320m2 </p>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>
</div>
