
<div class="container">
  <form>
    <h1 class="justify-content-center"> Form Create </h1>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Customer Code</label>
        <input type="email" class="form-control" placeholder="SV-1234">
      </div>
      <div class="form-group col-md-4">
        <label>Type Of Customer</label><br>
        <select class="form-select form-select-lg mb-3 form form-control"
                aria-label=".form-select-lg example">
          <option selected>Choose one</option>
          <option value="1">Normal</option>
          <option value="2">Vip</option>
          <option value="3">Super Vip</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Customer Name</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>BirthDay</label>
        <input type="date" class="form-control" placeholder="">
      </div>

      <div class="form-group col-md-4">
        <label> Gender </label>
        <select class="form-select form-select-lg mb-3 form form-control"
                aria-label=".form-select-lg example">
          <option selected> Choose one</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Another</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Id Card</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label> Phone Number </label>
        <input type="email" class="form-control" placeholder="090-1234567">
      </div>
      <div class="form-group col-md-4">
        <label> Email</label>
        <input type="text" class="form-control" placeholder="abc@gmail.com">
      </div>
      <div class="form-group col-md-4">
        <label> Address </label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
    <button type="submit" class="btn btn-primary"> Create </button>
  </form>
</div>
