<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Contract Code</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Deposit</th>
    <th scope="col">Total Payment Amount</th>
  </tr>
  </thead>
  <tbody id="customerList">
  <tr>
    <td> 1</td>
    <td> 12/04/2020</td>
    <td> 13/04/2020</td>
    <td>1.000.000 vnd</td>
    <td>2.000.000</td>
  </tr>
  <tr>
    <td> 1</td>
    <td> 12/04/2020</td>
    <td> 13/04/2020</td>
    <td>1.000.000 vnd</td>
    <td>2.000.000</td>
  </tr>
  <tr>
    <td> 1</td>
    <td> 12/04/2020</td>
    <td> 13/04/2020</td>
    <td>1.000.000 vnd</td>
    <td>2.000.000</td>
  </tr>
  <tr>
    <td> 1</td>
    <td> 12/04/2020</td>
    <td> 13/04/2020</td>
    <td>1.000.000 vnd</td>
    <td>2.000.000</td>
  </tr>
  <tr>
    <td> 1</td>
    <td> 12/04/2020</td>
    <td> 13/04/2020</td>
    <td>1.000.000 vnd</td>
    <td>2.000.000</td>
  </tr>
  </tbody>
</table>
